@{
    ViewData["Title"] = "Baş sahypa";
}

<div class="d-flex align-items-center justify-content-center" style="height: 80vh;background: url('/images/banner.gif');background-size: cover; /* Make the image cover the entire area */
    background-position: center;
    background-repeat: no-repeat;">
    @* <h1 class="display-4">Orta mekdepler üçin Test programmasy</h1> *@
</div>
